In [1]:
sec = ['ASSET CLASS,NAME,MIC,CUSIP,ISIN,SEDOL,DELIVERABLE BASKET QTY,PRICING BASKET QTY,EXCLUDED BASKET QTY,PRICE(in Fund Base Currency),LOCAL CURRENCY,FACTOR,ACCRUED INCOME,ALT ID1 TYPE, ALT ID1 VALUE,ALT ID2 TYPE, ALT ID2 VALUE,ALT ID3 TYPE, ALT ID3 VALUE', 'EQUITY,AKER BP,,R0139K100,NO0010345853,B1L95G3,330.0000,329.2049,0.0000,32.278408,NOK,1.000000,,,,,,,']

syn = ['ASSET CLASS,NAME,RIC,CUSIP,ISIN,SEDOL,DELIVERABLE BASKET QTY,PRICING BASKET QTY,EXCLUDED BASKET QTY,PRICE(in Fund Base Currency),PRICE MULTIPLIER,CONTRACT SIZE,AVERAGE CONTRACT OPEN PRICE,BLOOMBERG TICKER', 'FUTURES,EMINI ENERGY SELECT SECTOR MAR 19,1XAEH9,,,,0,0.04098,0,625.000000,,100,,IXPH9']

In [2]:
sec_split = [row.split(',') for row in sec]
syn_split = [row.split(',') for row in syn]

In [4]:
sec_headers = sec_split[0]
syn_headers = syn_split[0]

In [5]:
sec_data = sec_split[1:]
syn_data = syn_split[1:]

In [6]:
import pandas as pd

In [11]:
sec_df = pd.DataFrame(sec_data, columns=sec_headers)
sec_df

,ASSET CLASS,NAME,MIC,CUSIP,ISIN,SEDOL,DELIVERABLE BASKET QTY,PRICING BASKET QTY,EXCLUDED BASKET QTY,PRICE(in Fund Base Currency),LOCAL CURRENCY,FACTOR,ACCRUED INCOME,ALT ID1 TYPE,ALT ID1 VALUE,ALT ID2 TYPE,ALT ID2 VALUE,ALT ID3 TYPE,ALT ID3 VALUE
0,EQUITY,AKER BP,,R0139K100,NO0010345853,B1L95G3,330.0000,329.2049,0.0000,32.278408,NOK,1.000000,,,,,,,

In [8]:
syn_df = pd.DataFrame(syn_data, columns=syn_headers)
syn_df

,ASSET CLASS,NAME,RIC,CUSIP,ISIN,SEDOL,DELIVERABLE BASKET QTY,PRICING BASKET QTY,EXCLUDED BASKET QTY,PRICE(in Fund Base Currency),PRICE MULTIPLIER,CONTRACT SIZE,AVERAGE CONTRACT OPEN PRICE,BLOOMBERG TICKER
0,FUTURES,EMINI ENERGY SELECT SECTOR MAR 19,1XAEH9,,,,0,0.04098,0,625.000000,,100,,IXPH9

In [16]:
merged = sec_df.append(syn_df).fillna('')
merged.values.tolist()

[['',
  '',
  '',
  '',
  '',
  '',
  '',
  'EQUITY',
  '',
  '',
  '',
  'R0139K100',
  '330.0000',
  '0.0000',
  '1.000000',
  'NO0010345853',
  'NOK',
  '',
  'AKER BP',
  '',
  '32.278408',
  '329.2049',
  '',
  'B1L95G3'],
 ['',
  '',
  '',
  '',
  '',
  '',
  '',
  'FUTURES',
  '',
  'IXPH9',
  '100',
  '',
  '0',
  '0',
  '',
  '',
  '',
  '',
  'EMINI ENERGY SELECT SECTOR MAR 19',
  '',
  '625.000000',
  '0.04098',
  '1XAEH9',
  '']]

In [10]:
merged2 = pd.concat([sec_df, syn_df]).fillna('')

res = merged2.values.tolist()
res.insert(0, list(merged2))
res

[[' ALT ID1 VALUE',
  ' ALT ID2 VALUE',
  ' ALT ID3 VALUE',
  'ACCRUED INCOME',
  'ALT ID1 TYPE',
  'ALT ID2 TYPE',
  'ALT ID3 TYPE',
  'ASSET CLASS',
  'AVERAGE CONTRACT OPEN PRICE',
  'BLOOMBERG TICKER',
  'CONTRACT SIZE',
  'CUSIP',
  'DELIVERABLE BASKET QTY',
  'EXCLUDED BASKET QTY',
  'FACTOR',
  'ISIN',
  'LOCAL CURRENCY',
  'MIC',
  'NAME',
  'PRICE MULTIPLIER',
  'PRICE(in Fund Base Currency)',
  'PRICING BASKET QTY',
  'RIC',
  'SEDOL'],
 ['',
  '',
  '',
  '',
  '',
  '',
  '',
  'EQUITY',
  '',
  '',
  '',
  'R0139K100',
  '330.0000',
  '0.0000',
  '1.000000',
  'NO0010345853',
  'NOK',
  '',
  'AKER BP',
  '',
  '32.278408',
  '329.2049',
  '',
  'B1L95G3'],
 ['',
  '',
  '',
  '',
  '',
  '',
  '',
  'FUTURES',
  '',
  'IXPH9',
  '100',
  '',
  '0',
  '0',
  '',
  '',
  '',
  '',
  'EMINI ENERGY SELECT SECTOR MAR 19',
  '',
  '625.000000',
  '0.04098',
  '1XAEH9',
  '']]